@model Ecom.Models.ViewModels.DetailsVM

<form method="post">
    <input hidden asp-for="cartObj.ProductId" />
    <div class="card  container pt-4 my-5  d-flex align-items-center justify-content-center">
        <div class="card-body row container">
            <div class="col-md-8 mb-4 col-12">
                <div class="row ">
                    <div class="col-6 ">
                        <img src="@Model.cartObj.Product.ImageUrl" class="w-100" height="400"/>

                    </div>
                    <div class="col-6">
                        <img src="@Model.cartObj.Product.ImageUrl1" class="w-100" height="400" />
                    </div>
                </div>

            </div>
            <div class="col mb-5">
                <div class="row card border border-dark">
                    <div class="col-12 card-header">
                        <p class="text-uppercase fw-bold">@Model.cartObj.Product.Name by @Model.cartObj.Product.Brand.Name </p>
                    </div>
                    <div class="col-12 card-body">
                        <div class="row">
                            <p class="col-12">Category : @Model.cartObj.Product.Category.Name</p>
                            <p class="col-12">Price : @Model.cartObj.Product.Price.ToString("# ### ###") MAD</p>
                            <div class="col-12">
                                <p>Available sizes : 
                                @foreach (var item in Model.productDetails)
                                {
                                    <span class="badge rounded-pill bg-dark">@item.Sizes.Name</span>
                                }
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3"><p>Count : </p></div>
                                    <div class="col-9">
                                        <input asp-for="cartObj.Count" class="form-control" id="countInput" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 mb-1">
                        <button type="submit" value="Add to Cart" class="btn btn-primary form-control w-100" style="" onclick="return ValidateInput()">Add to Cart</button>
                    </div>
                    <div class="col-12 mb-5">
                        <a class="btn btn-success form-control w-100" style="" asp-action="Index">Back to Home</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</form>


<script>
    function ValidateInput() {
        if (document.getElementById("countInput").value > @Model.cartObj.Product.Quantity) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Available quantity: ' + @Model.cartObj.Product.Quantity,
            });
            return false;
        }
    }
</script>